<div class="wrapper">

    <div class="container-fluid">
<div class="row">  
    <div class="content-wrapper">

        <div class="page-title">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="mb-0">Data Local </h4>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right ">
                    <li class="breadcrumb-item"><a href="#" class="default-color">Home</a></li>
                    <li class="breadcrumb-item active">Data Local </li>
                  </ol>
                </div>
              </div>
          </div>

            <div class="row">

                <div class="col-xl-12 mb-30">     
                    <div class="card card-statistics h-100"> 
                      <div class="card-body">
                       <div class="d-block d-md-flex justify-content-between">
                          <div class="d-block">
                            <h5 class="card-title pb-0 border-0">Data Local</h5>
                          </div>
                          <div class="d-block d-md-flex clearfix sm-mt-20">
                             <div class="clearfix">
                               <div class="box">
                                <select class="fancyselect sm-mb-20 mr-20" style="display: none;">
                                  <option value="1">Some option</option>
                                  <option value="2">Another option</option>
                                  <option value="3">A option</option>
                                  <option value="4">Potato</option>
                                </select><div class="nice-select fancyselect sm-mb-20 mr-20" tabindex="0"><span class="current">Some option</span><ul class="list"><li data-value="1" class="option selected">Some option</li><li data-value="2" class="option">Another option</li><li data-value="3" class="option">A option</li><li data-value="4" class="option">Potato</li></ul></div>
                              </div>
                            </div>
                             <div class="widget-search ml-0 clearfix">
                              <i class="fa fa-search"></i>
                              <input type="search" class="form-control" placeholder="Search....">
                            </div>
                           </div>
                         </div>
                         <div><button (click)="openDialog()">Add User</button></div>
                         <div class="table-responsive mt-15">
                          <table class="table center-aligned-table mb-0">
                            <thead>
                              <tr  class="text-dark">
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Status</th>  
                                <th>Avatar</th> 
                                <th>Edit</th>   
                                <th>DELETE</th>  
                              </tr>
                            </thead>
                            <tbody  >
                              <tr *ngFor="let u of users | paginate: { id: 'foo',
                              itemsPerPage: 1,
                              currentPage: 1,
                              totalItems: 10 };let i=index " >
                                <th>{{i+1}}</th>
                                <th>{{u.name}}</th>
                                <th>{{u.email}}</th>
                                <th>{{u.status}}</th>
                                <th><img style="width: 50px;" [src]="u.avatar"></th>    
                            <th><button (click)="edit(u)"></button> </th>  
                            <th><button (click)="delete(u.id)"></button> </th>  
                               </tr>
                            </tbody>
                          </table>
                          <pagination-controls  id="foo"
                      (pageChange)="nav($event)"
                      (pageBoundsCorrection)="nav($event)"
                      
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls>
                        </div>
                      </div>
                    </div>   
                  </div>

  
</div>
</div>
</div>
</div>
</div>
