<div class="wrapper">

    <!--=================================
     preloader -->
     
    <div id="pre-loader" style="display: none;">
        <img src="images/pre-loader/loader-01.svg" alt="">
    </div>
    
    <!--=================================
     preloader -->
    
     <!--=================================
     login-->
    
    <section class="height-100vh d-flex align-items-center page-section-ptb login" style="background-image: url(images/login-bg.jpg);">
      <div class="container">
         <div class="row justify-content-center no-gutters vertical-align">
           <div class="col-lg-4 col-md-6 login-fancy-bg bg" style="background-image: url(images/login-inner-bg.jpg);">
             <div class="login-fancy">
              <h2 class="text-white mb-20">Hello world!</h2>
              <p class="mb-20 text-white">Create tailor-cut websites with the exclusive multi-purpose responsive template along with powerful features.</p>
              <ul class="list-unstyled  pos-bot pb-30">
                <li class="list-inline-item"><a class="text-white" href="#"> Terms of Use</a> </li>
                <li class="list-inline-item"><a class="text-white" href="#"> Privacy Policy</a></li>
              </ul>
             </div> 
           </div>
           <div class="col-lg-4 col-md-6 bg-white">
            <div [formGroup]="loginForm" class="login-fancy pb-40 clearfix">
            <h3 class="mb-30">Sign In To Admin</h3>
             <div class="section-field mb-20">
                 <label class="mb-10" for="name">Email * </label>
                   <input formControlName="email" id="name" class="web form-control" type="email" placeholder="User name" name="web">
 
                    <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="alert alert-warning alert-dismissible fade show" role="alert" >
                      Please enter valid Email
                    </div>
                   
                </div>
                <div class="section-field mb-20">
                 <label class="mb-10" for="Password">Password* </label>
                   <input formControlName="password"  id="Password" class="Password form-control" type="password" placeholder="Password" name="Password">
                </div>
                <button [disabled] ="loginForm.invalid" (click)="go()" class="button">
                   
                    <span>Log in</span>
                    <i class="fa fa-check"></i>
                  </button>
                  </div>
            </div>
          </div>
      </div>
    </section>
    
    <!--=================================
     login-->
      
    </div>